exportPattern("^[[:alpha:]]+")

# S3 methods
## add
S3method(add, repository)
S3method(add, model)

## summary
S3method(summary, model)
S3method(summary, scenario)
# S3method(summary, technology)

## write #
S3method(write, scenario) 
S3method(write, default) 
#exportMethods(write)

## read
S3method(read, scenario)

## solve
S3method(solve, scenario)
S3method(solve, model)

## update
S3method(update, technology)
S3method(update, commodity)
S3method(update, demand)
S3method(update, supply)
S3method(update, export)
S3method(update, import)
S3method(update, storage)
S3method(update, weather)

## draw
S3method(draw, technology)

## plot
S3method(plot, levcost)

## barplot
S3method(barplot, levcost)

## print
S3method(print, commodity)
S3method(print, demand)
S3method(print, equation)
S3method(print, model)
S3method(print, region)
S3method(print, repository)
S3method(print, scenario)
S3method(print, set)
S3method(print, summand)
S3method(print, supply)
S3method(print, sysInfo)
S3method(print, technology)

